@import url(https://fonts.googleapis.com/css?family=SN+Pro);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d2fdaa;
    font-size: 24px;
    font-family: 'SN Pro';
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

p {
    margin-bottom: 2rem;
}

ul {
    list-style: none;
}

ul li {
    background-color: #ffc75e;
    margin: 1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: 3px solid black;
}
